/* Pagina para los colores: https://htmlcolorcodes.com/es/ */

.prueba{

    /*POSICION*/
    display: flex;
    justify-content:center;

    /*FORMA*/
    border: cornflowerblue 2.8px solid;

    /*COLORES*/
    background-color: #822E0f;      /*Fondo*/ 
    border-color: burlywood;        /*Borde*/
    color: whitesmoke;              /*Letra*/ 
}

.tema{
    /*POSICION*/
    display: flex;
    justify-content: center;

    /*FORMA*/
    height: 25px;
    width:  125px;
    padding: 14.5px;        /*Relleno:      Espacio entre el contenido de un elemento y su borde*/
    
    margin: 15px;        /*Margen:       Espacio entre el elemento y otros*/
   
    border: 2.4px solid;

    /*COLORES*/
    background-color: burlywood;
    border-color: #4A1E04;
}

.enFila
{
  display: flex;
  justify-content: center; 
  flex-direction: row;  /* Fila de elementos */
  justify-content: space-around;
}

.enFila2{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.enColumna
{
  display: flex;
  justify-content: center; 
  flex-direction: column;  /* Columna de elementos */
}

.fondoPsicodelico {
  background-color: rgba(255, 255, 255, 0.75); /* Blanco con 75% de opacidad, mientras mas opaco, menos se ve la imagen. */
  background-image: url('fondo2.png');
  background-blend-mode: overlay; /* Mezcla el color con la imagen */

  padding: 14.5px;      /*Relleno:      Espacio entre el contenido de un elemento y su borde*/
  margin: 15px;        /*Margen:       Espacio entre el elemento y otros*/
}

.fondoColorido{

    background-color: rgba(255, 255, 255, 0.82);
    background-image: url('recurso.png');
    background-blend-mode: overlay;
}

.espacioExterior {
  background-color: rgba(255, 255, 255, 0.55); 
  background-image: url('fondo.jpg');
  background-blend-mode: overlay; 
}

.FALSO{
    background-color: rgba(255, 255, 255, 0.15);
    background-image:  url('FALSO.png');
    background-blend-mode: overlay;

    color: whitesmoke;

    padding: 4.67px;
    margin:   9px;
}

.FALSO2{
    background-color: rgba(255, 255, 255, 0.15);
    background-image:  url('FALSO.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;                 /* Evita que se repita */
    background-position: center;                  /* Centra la imagen */
    background-size: cover;                       /* La foto Cubre todo el área del elemento */

    weight: 200px;
    padding: 10.67px;
    margin:   9px;
    display: flex;
    justify-content: space-around;
}

.Verdad{
    background-color: rgba(255, 255, 255, 0.15);
    background-image:  url('Verdadero.jpg');
    background-blend-mode: overlay;

    color: whitesmoke;

    padding: 4.67px;
    margin:   9px;
}

.centrado{

    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.alFinal

{
    display: flex;
    justify-content:flex-end;
}

.espacioEntreEjercicios{
    margin: 169px;
}

#act62 {
    height: 103px;
    width: 202px;
    margin: 10px;
}

#act72 {
    height: 69.9px;
    width: 569.9px;
    padding: 12px;
    margin: 10px;
    border: 2px solid blue;
}

#act82 {
    height: 133.9px;
    width: 133.9px;
    padding: 6px;
    margin: 10px;
}

.hAmarillo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color: black;

    height: 103px;
    width: 103px;
    padding: 10px;

}
.hRojo{
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
}

.hNegro{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.elementosCentrados{
    display: flex;
    justify-content: center;
}

.clase{
    height: 222px;  /*Altura*/
    width: 192px;   /*Anchura*/
    padding: 23px;
    border: 12px solid #115154;   /*El color esta en hexadecimal*/

    background-color: blue;  
    color: yellow;
}

#Id {
    height: 22px;  /*Altura*/
    width: 12px;   /*Anchura*/
    padding: 23px;
    margin: 200px;
    transform: rotate(0.06turn); /*Rota el elemento, no es importante, solo para enfatizar.*/

    background-color: rgba(000, 12, 10, 0.67);/*Negro semi transparente usando rgba, 0.67 es la transparencia*/
}

h1{
    /* color: blue; Si esto no fuera un comentario 
                    todos lo h1 tendrian la letra azul*/  
}
